@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
.container {
    width: 100%;
    margin: 0;
    text-align: center;
}
.chat-now-btn {
    position: relative;
    margin: 50px;
    width: 400px;
    height: 100px;
    background-image: linear-gradient(rgba(116, 245, 241, 0.2),#ff030300);
    border-radius: 60px;
    color: black;
    cursor: pointer;
    font-family: 'Calistoga', cursive;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
}
.chat-now-btn:hover {
    color: #ff0501b7;
    background-image: linear-gradient(rgba(107, 168, 255, 0.2),#89000000);
}

