@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
.container {
    width: 100%;
    margin: 0;
    text-align: center;
}
.chat-now-btn {
    position: relative;
    margin: 30px;
    width: 400px;
    height: 100px;
    background-image: linear-gradient(rgba(116, 245, 241, 0.2),#fa727252);
    border-radius: 60px;
    color: black;
    cursor: pointer;
    font-family: 'Calistoga', cursive;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
}
.chat-now-btn:hover {
    background-image: linear-gradient(#d84a4a40, rgba(157, 247, 252, 0.347));
}

